
body {
  background: blanchedalmond; 
  text-align: center;
  font-size: 5em; 
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}    
.a {
  background-color: cyan; 
  min-height: 15vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}              
.b {
  min-height: 60vh; 
  background-color: darkcyan; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}
.c {
  background-color: cyan; 
  min-height: 15vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
@media (min-width: 600px) {
  .container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
  }
  .a {
    width: 100%; 
    margin: 10px; 
  }
  .b {
    flex-grow: 2; 
    max-width: 80%; 
    margin: 10px; 

  }
  .c {
    flex-grow: 1; 
    margin: 10px; 
  }
}
