body {
  background: lightgrey;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  font-size: 4em; 
}    
.a {
  background-color: grey; 
  min-height: 15vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 15px 
}              
.b {
  min-height: 40vh; 
  background-color: grey; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 15px 
}
.c {
  background-color: grey; 
  min-height: 15vh; 
  width: 30%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 15px 
}
.d {
  background-color: grey; 
  min-height: 15vh; 
  width: 30%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 15px 
}
.e {
  background-color: grey; 
  min-height: 15vh; 
  width: 30%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 15px 
}
section {
  display: flex; 
  justify-content: space-between; 
}
.f {
  background-color: grey; 
  min-height: 15vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 15px 
}   
